.event-message-holder {
  display: flex;
  /*grid-template-areas: "event message message message";*/
}

.event {
  /*grid-area: event;*/
  width: 30%;
  margin: 4px 0 4px 0;
  padding: 4px 0 4px 0;
  font-size: 14px;
  font-weight: bolder;
  background-color: #f2ccff;
}
.message {
  /*grid-area: message;*/
  width: 70%;
  margin: 4px 0 4px 0;
  padding: 4px 0 4px 0;
  font-size: 8px;
  background-color: #ccccff;
  /*flex-grow: ;*/
}
